extends ../layout
block localJS
  script(src='js/products/delete-id.js')
  script(src='js/products/add.js')
  script(src='js/products/update.js')
block content
  h1 Client Coffee Preferences
  table.table.table-striped.table-hover
    thead
      th Username
      th Product Name 
      th Roast Type
    tbody
      each row in data
        tr 
          td= row.username
          td= row.name
          td= row.roastType
